<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.google.com"> Shah Enterprises</a>
      by <a href="https://www.priyangshah.com"> Priyang Shah</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>